<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise Security Platform</title>

     <link rel="stylesheet"
     href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header>
        <h1>Enterprise Security Platform</h1>
        <p>Cloud Security Dashboard</p>
    </header>

    <main>
        <section class="summary">
            <div class="card">
                <h3>Total Alerts</h3>
                <p>{{ alerts|length }}</p>
            </div>

            <div class="card">
                <h3>High</h3>
                <p>{{ alerts|selectattr("severity", "equalto", "High")|list|length }}</p>
            </div>

            <div class="card">
                <h3>Medium</h3>
                <p>{{ alerts|selectattr("severity", "equalto", "Medium")|list|length }}</p>
            </div>

            <div class="card">
                <h3>Low</h3>
                <p>{{ alerts|selectattr("severity", "equalto", "Low")|list|length }}</p>
            </div>
        </section>

        <h2>Microsoft Sentinel Alerts</h2>
<table>
    <tr>
        <th>Alert Name</th>
        <th>Severity</th>
        <th>Status</th>
        <th>Provider</th>
        <th>Time</th>
        <th>Tactic</th>
        <th>Technique</th>
        <th>Entity</th>
        <th>Description</th>
    </tr>

    {% for alert in alerts %}
    <tr>

        <td>{{ alert.alert_name }}</td>

        <td>
            <span class="severity {{ alert.severity|lower }}">
                {{ alert.severity }}
            </span>
        </td>

        <td>{{ alert.status }}</td>

        <td>{{ alert.provider }}</td>

        <td>{{ alert.time }}</td>

        <td>{{ alert.tactics }}</td>

        <td>{{ alert.techniques }}</td>

        <td>{{ alert.entity }}</td>

        <td>{{ alert.description }}</td>

    </tr>
    {% endfor %}
</table>

    </main>
</body>
</html>