<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise Security Platform</title>
</head>

<body>

    <h1>Enterprise Security Platform</h1>
        <p>Microsoft Sentinel Dashboard</p>

    <h2>Microsoft Sentinel Alerts</h2>

    <table border="1">
        <tr>
            <th>Alert</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Provider</th>
            <th>Time</th>
        </tr>
    </table>

</body>
</html>